<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.admin.musicalstructureapp">

    <application

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <!-- The main/home activity (it has no parent activity) -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Children to the MainActivity-->
        <activity
            android:name=".BongoActivity"
            android:label="Bongo"
            android:parentActivityName=".MainActivity"
            tools:ignore="UnusedAttribute">

        </activity>
        <activity
            android:name=".RnBActivity"
            android:label="RnB"
            android:parentActivityName=".MainActivity"
            tools:ignore="UnusedAttribute"/>
        <activity
            android:name=".SongPlayingActivity"
            android:label="Playing"
            android:parentActivityName=".MainActivity"
            tools:ignore="UnusedAttribute"
            />
        <activity
            android:name=".AfroPopActivity"
            android:label="AfroPop"
            android:parentActivityName=".MainActivity"
            tools:ignore="UnusedAttribute" />
    </application>

</manifest>